.flex-container {
    display: -ms-flexbox;
    display: flex;
}

.flex-container-row {
    flex-direction: row;
}

.flex-container-justify-end {
    justify-content: flex-end;
}

.navbar-main {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(255, 255, 255, 1);
}

.navbar-main:hover, .navbar-main:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.navbar-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0px;
}

.navbar-link {
    display: block;
    padding: 14px 15px;
    color: rgba(255, 255, 255, 1);
}

.navbar-link:hover, .navbar-link:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.navbar-auth {
    padding: 14px 15px;
    color: rgba(255, 255, 255, 1);
}

.navbar-auth:hover, .navbar-auth:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.box {
    border-color: #fefefe;
    border-width: 2px;
    background-color: #fefefe;
    border-style: groove;
    border-radius: 5px;
}

.box.box-shadow
{
    box-shadow: 0 0 10px rgb(220, 220, 220);
}

.box.box-shadow-hover:hover
{
    box-shadow: 0 0 20px rgb(184, 184, 184);
}

.box .box-header
{
    border-bottom-color: #fefefe;
    background-color: #ffffff;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    padding: 20px;
}

.box .box-body
{
}

.flex-container.flex-center{
    justify-content: center;
    align-items: center;
}

.margin-top-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-left-right{
    margin-left: 20px;
    margin-right: 20px;
}

.height-5 {
    height: 250px;
}

.image-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}