<div xmlns:th="http://www.thymeleaf.org" class="box box-shadow">
    <div class="box-header">
        Available absences
    </div>
    <div class="box-body">
        <div class="container">
            <div class="row margin-top-bottom flex-container flex-container-row absence-bar">
                <div class="absence-label">
                    Holiday days available: <span th:text="${currentUser.getEmployeeUser().getHolidayDaysBalance()}"></span>,
                    Used: <span th:text="${currentUser.getEmployeeUser().getHolidayDaysUsed()}"></span>
                </div>
                <div class="lightgray"
                     th:if="${currentUser.getEmployeeUser().getHolidayDaysBalance() + currentUser.getEmployeeUser().getHolidayDaysUsed()} == 0"
                     style="flex: 1;"></div>
                <div class="green"
                     th:if="${currentUser.getEmployeeUser().getHolidayDaysBalance() + currentUser.getEmployeeUser().getHolidayDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getHolidayDaysBalance()} + ';'"></div>
                <div class=" absence-bar-end"
                     th:if="${currentUser.getEmployeeUser().getHolidayDaysBalance() + currentUser.getEmployeeUser().getHolidayDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getHolidayDaysUsed()} + ';'"></div>
            </div>
            <div class="row margin-top-bottom flex-container flex-container-row absence-bar">
                <div class="absence-label">
                    Sickleave days available: <span th:text="${currentUser.getEmployeeUser().getSickleaveDaysBalance()}"></span>,
                    Used: <span th:text="${currentUser.getEmployeeUser().getSickleaveDaysUsed()}"></span>
                </div>
                <div class="lightgray"
                     th:if="${currentUser.getEmployeeUser().getSickleaveDaysBalance() + currentUser.getEmployeeUser().getSickleaveDaysUsed()} == 0"
                     style="flex: 1;"></div>
                <div class="green"
                     th:if="${currentUser.getEmployeeUser().getSickleaveDaysBalance() + currentUser.getEmployeeUser().getSickleaveDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getHolidayDaysBalancegetSickleaveDaysBalance()} + ';'"></div>
                <div class=" absence-bar-end"
                     th:if="${currentUser.getEmployeeUser().getSickleaveDaysBalance() + currentUser.getEmployeeUser().getSickleaveDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getSickleaveDaysUsed()} + ';'"></div>
            </div>
            <div class="row margin-top-bottom flex-container flex-container-row absence-bar">
                <div class="absence-label">
                    Extraordinary days available: <span th:text="${currentUser.getEmployeeUser().getExtraordinaryDaysBalance()}"></span>,
                    Used: <span th:text="${currentUser.getEmployeeUser().getExtraordinaryDaysUsed()}"></span>
                </div>
                <div class="lightgray"
                     th:if="${currentUser.getEmployeeUser().getExtraordinaryDaysBalance() + currentUser.getEmployeeUser().getExtraordinaryDaysUsed()} == 0"
                     style="flex: 1;"></div>
                <div class="green"
                     th:if="${currentUser.getEmployeeUser().getExtraordinaryDaysBalance() + currentUser.getEmployeeUser().getExtraordinaryDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getHolidayDaysBalancegetExtraordinaryDaysBalance()} + ';'"></div>
                <div class=" absence-bar-end"
                     th:if="${currentUser.getEmployeeUser().getExtraordinaryDaysBalance() + currentUser.getEmployeeUser().getExtraordinaryDaysUsed()} != 0"
                     th:style="'flex: ' + ${currentUser.getEmployeeUser().getExtraordinaryDaysUsed()} + ';'"></div>
            </div>
        </div>
    </div>
</div>