<form xmlns:th="http://www.thymeleaf.org"
      th:action="${'/organization/' +
                   currentUser.getOrganizationId().toString() +
                   '/employee/' +
                   employeeId +
                   '/add-responsible-for'}"
      method="post">
    <div class="container margin-top-bottom">
        <div class="row">
            <div class="col-12">
                <h1>
                    <img class="image-icon"
                         th:if="${currentUser.getLogoId() != null}"
                         th:src="${'/organization/' +  currentUser.getOrganizationId().toString() + '/image/' + currentUser.getLogoId().toString()}">

                    <span th:text="${currentUser.getOrganizationName()}"></span>

                    <button id="submit"
                            class="btn btn-lg btn-primary"
                            type="submit">Save</button>
                </h1>
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="col-12">
                <div class="box box-shadow margin-top-bottom">
                    <div class="box-header">
                        Add employees this employee is responsible for
                    </div>
                    <div class="box-body">
                        <div class="container">
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="EmployeeIds">Employees</label>
                                </div>
                                <div class="col-8">
                                    <select id="EmployeeIds"
                                            name="EmployeeIds"
                                            class="form-control"
                                            multiple="multiple">
                                        <option th:each="employee : ${employeeDtos}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee.getUser().getFirstName() + ' ' +
                                                employee.getUser().getLastName()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>