<div class="container margin-top-bottom" xmlns:th="http://www.thymeleaf.org">

    <div class="row margin-top-bottom">
        <div class="col-12">
            <h1>
                <img class="image-icon"
                     th:if="${currentUser.getLogoId() != null}"
                     th:src="${'/organization/' +  currentUser.getOrganizationId().toString() + '/image/' + currentUser.getLogoId().toString()}">
                <span th:text="${currentUser.getOrganizationName()}"></span>
            </h1>
        </div>
    </div>

    <form xmlns:th="http://www.thymeleaf.org"
          th:action="${'/organization/' + currentUser.getOrganizationId() + '/employee/' + employeeDetailsDto.getId() + '/update'}"
          method="post">
        <div class="container margin-top-bottom">
            <div class="row margin-top-bottom">
                <div class="col-12">
                    <div class="box box-shadow margin-top-bottom">
                        <div class="box-header">
                            Days balances
                        </div>
                        <div class="box-body">
                            <div class="container">
                                <div class="row margin-top-bottom">
                                    <div class="col-4">
                                        <label for="FirstName">First name</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text"
                                               id="FirstName"
                                               name="FirstName"
                                               class="form-control"
                                               placeholder="FirstName"
                                               th:value="${userDto.getFirstName()}">
                                    </div>
                                </div>
                                <div class="row margin-top-bottom">
                                    <input type="submit" class="btn btn-lg btn-primary" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-4">
            <div class="p-2">
                <div class="row margin-top-bottom flex-container box box-shadow padding-1 align-center">
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <img class="image-icon"
                             th:if="${employeeDetailsDto.getUser().getPictureId() != null}"
                             th:src="${'/organization/' +
                                           currentUser.getOrganizationId().toString() +
                                           '/image/' +
                                           employeeDetailsDto.getUser().getPictureId().toString()}">
                        <img class="image-icon"
                             th:if="${employeeDetailsDto.getUser().getPictureId() == null}"
                             src="/User.jpg">
                    </div>
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <h4 th:text="${employeeDetailsDto.getUser().getFirstName() +
                                           ' ' +
                                           employeeDetailsDto.getUser().getLastName()}"></h4>
                    </div>
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <h5 th:text="${employeeDetailsDto.getUser().getEmail()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Responsible to: <span th:if="${employeeDetailsDto.getResponsibleToEmployee().size() == 0}">Nobody</span></h1>
    <div class="row">
        <div class="col-4" th:each="responsibleToEmployee : ${employeeDetailsDto.ResponsibleToEmployee}">
            <a class="text-link"
               th:href="${'/organization/' + currentUser.getOrganizationId() + '/employee/' + responsibleToEmployee.getId()}">
                <div class="p-2">
                    <div class="row margin-top-bottom flex-container box box-shadow-hover padding-1 align-center">
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <img class="image-icon"
                                 th:if="${responsibleToEmployee.getUser().getPictureId() != null}"
                                 th:src="${'/organization/' +
                                           currentUser.getOrganizationId().toString() +
                                           '/image/' +
                                           responsibleToEmployee.getUser().getPictureId().toString()}">
                            <img class="image-icon"
                                 th:if="${responsibleToEmployee.getUser().getPictureId() == null}"
                                 src="/User.jpg">
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h4 th:text="${responsibleToEmployee.getUser().getFirstName() +
                                           ' ' +
                                           responsibleToEmployee.getUser().getLastName()}"></h4>
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h5 th:text="${responsibleToEmployee.getUser().getEmail()}"></h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="text-link"
               th:href="${'/organization/' + currentUser.getOrganizationId() + '/employee/' + employeeDetailsDto.getId() + '/add-responsible-to'}">
                <div class="p-2">
                    <div class="row margin-top-bottom flex-container box box-shadow-hover padding-1 align-center">
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <img class="image-icon" src="/plus.png"  alt="#">
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h3>Add</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <h1>Employee:</h1>
    <div class="row">
        <div class="col-4">
            <div class="p-2">
                <div class="row margin-top-bottom flex-container box box-shadow padding-1 align-center">
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <img class="image-icon"
                             th:if="${employeeDetailsDto.getUser().getPictureId() != null}"
                             th:src="${'/organization/' +
                                           currentUser.getOrganizationId().toString() +
                                           '/image/' +
                                           employeeDetailsDto.getUser().getPictureId().toString()}">
                        <img class="image-icon"
                             th:if="${employeeDetailsDto.getUser().getPictureId() == null}"
                             src="/User.jpg">
                    </div>
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <h4 th:text="${employeeDetailsDto.getUser().getFirstName() +
                                           ' ' +
                                           employeeDetailsDto.getUser().getLastName()}"></h4>
                    </div>
                    <div class="col-12 flex-container align-center justify-center overflow-hidden">
                        <h5 th:text="${employeeDetailsDto.getUser().getEmail()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Responsible for: <span th:if="${employeeDetailsDto.getResponsibleForEmployees().size() == 0}">Nobody</span></h1>
    <div class="row">
        <div class="col-4" th:each="responsibleForEmployee : ${employeeDetailsDto.ResponsibleForEmployees}">
            <a class="text-link"
               th:href="${'/organization/' + currentUser.getOrganizationId() + '/employee/' + responsibleForEmployee.getId()}">
                <div class="p-2">
                    <div class="row margin-top-bottom flex-container box box-shadow-hover padding-1 align-center">
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <img class="image-icon"
                                 th:if="${responsibleForEmployee.getUser().getPictureId() != null}"
                                 th:src="${'/organization/' +
                                           currentUser.getOrganizationId().toString() +
                                           '/image/' +
                                           responsibleForEmployee.getUser().getPictureId().toString()}">
                            <img class="image-icon"
                                 th:if="${responsibleForEmployee.getUser().getPictureId() == null}"
                                 src="/User.jpg">
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h4 th:text="${responsibleForEmployee.getUser().getFirstName() +
                                           ' ' +
                                           responsibleForEmployee.getUser().getLastName()}"></h4>
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h5 th:text="${responsibleForEmployee.getUser().getEmail()}"></h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a class="text-link"
               th:href="${'/organization/' + currentUser.getOrganizationId() + '/employee/' + employeeDetailsDto.getId() + '/add-responsible-for'}">
                <div class="p-2">
                    <div class="row margin-top-bottom flex-container box box-shadow-hover padding-1 align-center">
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <img class="image-icon" src="/plus.png" alt="#">
                        </div>
                        <div class="col-12 flex-container align-center justify-center overflow-hidden">
                            <h3>Add</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>