<div class="container margin-top-bottom" xmlns:th="http://www.thymeleaf.org">
    <div class="row margin-top-bottom">
        <div class="col-12">
            <h1>
                <img class="image-icon"
                     th:if="${currentUser.getLogoId() != null}"
                     th:src="${'/organization/' +  currentUser.getOrganizationId().toString() + '/image/' + currentUser.getLogoId().toString()}">
                <span th:text="${currentUser.getOrganizationName()}"></span>
                <a th:href="${'/organization/'+ currentUser.getOrganizationId().toString() +'/employee/invite'}">
                    <input type="submit" class="btn btn-lg btn-primary" value="Invite employees" text="Invite employees"/>
                </a>
            </h1>
        </div>
    </div>
    <div th:each="employee : ${employeeDtos}" class="row margin-top-bottom">
        <div  class="col-1">
            <img class="image-icon"
                 th:if="${currentUser.getLogoId() != null}"
                 th:src="${'/organization/' +
                     currentUser.getOrganizationId().toString() +
                     '/image/' +
                     currentUser.getLogoId().toString()}">
        </div>
        <div class="col-2">
            <span th:text="${employee.getFirstName()}"></span>
            <span th:text="${employee.getLastName()}"></span>
        </div>
    </div>
</div>