<form action="/organization/update" method="post">
    <div class="container margin-top-bottom" xmlns:th="http://www.thymeleaf.org">
        <div class="row">
            <div class="col-12">
                <h1>
                    <img class="image-icon"
                          th:if="${organizationDto.getImageId() != null}"
                          th:src="${'image/' + organizationDto.getImageId().toString()}">
                    Organization profile
                    <button id="submit"
                            class="btn btn-lg btn-primary"
                            type="submit">Save</button>
                </h1>
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="col-12">
                <div class="box box-shadow margin-top-bottom">
                    <div class="box-header">
                        Organization information
                    </div>
                    <div class="box-body">
                        <div class="container">
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="Name">Name</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Name"
                                           th:value="${organizationDto.getName()}">
                                </div>
                            </div>
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="OrganizationCity">City</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="OrganizationCity" name="OrganizationCity"
                                           class="form-control" placeholder="Name"
                                           th:value="${organizationDto.getOrganizationCity()}">
                                </div>
                            </div>
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="OrganizationStreet">Street</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="OrganizationStreet" name="OrganizationStreet"
                                           class="form-control" placeholder="Name" required="required"
                                           th:value="${organizationDto.getOrganizationStreet()}">
                                </div>
                            </div>
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="OrganizationStreetNumber">Street number</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="OrganizationStreetNumber" name="OrganizationStreetNumber"
                                           class="form-control" placeholder="OrganizationStreetNumber"
                                           required="required"
                                           th:value="${organizationDto.getOrganizationStreetNumber()}">
                                </div>
                            </div>
                            <div class="row margin-top-bottom">
                                <div class="col-4">
                                    <label for="OrganizationCountry">Country</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="OrganizationCountry" name="OrganizationCountry"
                                           class="form-control" placeholder="OrganizationCountry"
                                           required="required"
                                           th:value="${organizationDto.getOrganizationCountry()}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>