<form class="margin-top-bottom"
      action="/organization/create"
      enctype="multipart/form-data"
      method="post">
    <div class="container form-group"
         xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
        <div class="row margin-top-bottom">
            <div class="offset-3 col-9">
                <h2>Register an organization</h2>
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-9">
                <h3>Information about the organization itself</h3>
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="Name">Name</label>
                <input type="text" id="Name" name="Name" class="form-control"
                       placeholder="Name" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="OrganizationCity">Organization city</label>
                <input type="text" id="OrganizationCity" name="OrganizationCity" class="form-control"
                       placeholder="Organization city" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="OrganizationStreet">Organization street</label>
                <input type="text" id="OrganizationStreet" name="OrganizationStreet" class="form-control"
                       placeholder="Organization street" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="OrganizationStreetNumber">Organization street number</label>
                <input type="text" id="OrganizationStreetNumber" name="OrganizationStreetNumber" class="form-control"
                       placeholder="Organization street number" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="OrganizationCountry">Organization country</label>
                <input type="text" id="OrganizationCountry" name="OrganizationCountry" class="form-control"
                       placeholder="Organization country" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="logo">Upload an organization logo</label>
                <input type="file" id="logo" name="logo" class="form-control-file" accept="image/png, image/jpeg">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <h3>About the organization owner</h3>
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="FirstName">First name</label>
                <input type="text" id="FirstName" name="FirstName" class="form-control"
                       placeholder="First name" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="LastName">Last name</label>
                <input type="text" id="LastName" name="LastName" class="form-control"
                       placeholder="Last name" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="Email">E-mail</label>
                <input type="email" id="Email" name="Email" class="form-control"
                       placeholder="E-Mail" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" class="form-control"
                       placeholder="Password" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="phoneNumber">Phone number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                       placeholder="Phone number" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="UserCity">City</label>
                <input type="text" id="UserCity" name="UserCity" class="form-control"
                       placeholder="User city" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="UserStreet">Street</label>
                <input type="text" id="UserStreet" name="UserStreet" class="form-control"
                       placeholder="User street" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="UserStreetNumber">Street number</label>
                <input type="text" id="UserStreetNumber" name="UserStreetNumber" class="form-control"
                       placeholder="User street number" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="UserCountry">Country</label>
                <input type="text" id="UserCountry" name="UserCountry" class="form-control"
                       placeholder="User country" required="required">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <label for="userImage">Picture</label>
                <input type="file" id="userImage" name="userImage" class="form-control-file"
                       accept="image/png, image/jpeg">
            </div>
        </div>
        <div class="row margin-top-bottom">
            <div class="offset-3 col-6">
                <div th:text="${param.error}" class="text-danger"></div>
                <button id="submit" class="btn btn-lg btn-primary btn-block margin-top-bottom" type="submit">Register organization</button>
            </div>
        </div>
    </div>
</form>