<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Absences report</h1>

<table style="width: 100%">
    <tr>
        <th style="text-align: start">Name</th>

        <th style="text-align: start">Holiday days balance</th>
        <th style="text-align: start">Holiday days used</th>

        <th style="text-align: start">Sickleave days balance</th>
        <th style="text-align: start">Sickleave days used</th>

        <th style="text-align: start">Extraordinary days balance</th>
        <th style="text-align: start">Extraordinary days used</th>
    </tr>
    <tr th:each="employeeDetailsDto : ${employeeDetailsDtos}">
        <td th:text="${employeeDetailsDto.getUser().getFirstName() + ' ' + employeeDetailsDto.getUser().getLastName()}">
            Name
        </td>

        <td th:text="${employeeDetailsDto.getHolidayDaysBalance()}">Holiday days balance</td>
        <td th:text="${employeeDetailsDto.getHolidayDaysUsed()}">Holiday days used</td>

        <td th:text="${employeeDetailsDto.getSickleaveDaysBalance()}">Sickleave days balance</td>
        <td th:text="${employeeDetailsDto.getSickleaveDaysUsed()}">Sickleave days used</td>

        <td th:text="${employeeDetailsDto.getExtraordinaryDaysBalance()}">Extraordinary days balance</td>
        <td th:text="${employeeDetailsDto.getExtraordinaryDaysUsed()}">Extraordinary days used</td>
    </tr>
</table>
</body>
</html>