<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Absences report</h1>

<table style="width: 100%">
    <tr>
        <th style="text-align: start">Type</th>
        <th style="text-align: start">Status</th>

        <th style="text-align: start">Date from</th>
        <th style="text-align: start">Date to</th>

        <th style="text-align: start">Employee</th>
    </tr>
    <tr th:each="absenceDto : ${absenceDtos}">

        <td th:text="${absenceDto.getAbsenceType()}">Type</td>
        <td th:text="${absenceDto.getAbsenceStatus()}">Status</td>

        <td th:text="${absenceDto.getDateFrom()}">Date from</td>
        <td th:text="${absenceDto.getDateTo()}">Date to</td>

        <td th:text="${absenceDto.getEmployeeFirstName() + ' ' + absenceDto.getEmployeeLastName()}">
            Employee
        </td>
    </tr>
</table>
</body>
</html>